/*! 3-layouts/_back-to-top.scss */

.back-to-top {
  background: transparentize($medium-gray, 0.3);
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  position: fixed;
  bottom: 50%;
  right: 1em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 100;
}

.back-to-top:hover{
  background: shade($medium-gray, 30%);
}

.back-to-top i {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: $light-gray;
}
