/*! 3-layouts/_contact-form.scss */

#contacts {
  section {
    @include span-columns(12);
    padding-right: 0;
    border: none;
  }

  .frm_description p {
    font-family:  "Sanchez", serif;
    font-size: 1.3em;
    font-style: italic;
  }

  input {
    color: $light-gray;
  }

  .contact-third {
    @include span-columns(4);
    clear: both;

    @include media(min-width 568px max-width 900px) {
      @include span-columns(6);
    }

    @include media(min-width 320px max-width 567px) {
      @include span-columns(12);
    }
  }

  .contact-half {
    @include span-columns(6);
    clear: both;

    @include media(min-width 320px max-width 567px) {
      @include span-columns(12);
    }
  }
  .contact-full {
    @include span-columns(12);
    clear: both;
  }
}
