/*! 3-layouts/_content.scss */

$serif: 'Lora', sans-serif;

#content {
  background-color: $base-background-color;
  margin-bottom: 200px;
  border-bottom: 1px solid shade(white, 70%);

}
// END #content

#primary {
  @include outer-container;
  padding: 2em;

  section {
    @include padding(null 2em null null);

    img,
    figure {
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    .wp-caption {
      clear: both;
    }

    figcaption {
      font-size: .8em;
      font-style: italic;
      text-align: center;
      padding: 15px 5px;

    }


    @include media(max-width 989px) {
      @include span-columns(12);
      padding-right: 0;
      border: none;
    }
  }

  main {
    background: $base-background-color;
    @include span-columns(8 of 12);
    @include omega;
    // @include media(320px){
    //   @include span-columns(12 of 12);
    // }

    @include padding(2em 1em 0 1em);
    border-bottom: none;

    @include media(max-width 989px) {
      @include span-columns(12);
    }

    article {
      @include span-columns(12);
      @include padding(null null 1.5em null);
      @include margin(null null 1.5em null);
      overflow-x: auto;
      @include media(max-width 989px) {
        margin-bottom: 0;
      }


      .article-content {
        h1 {
          text-align: center;
          font-style: italic;
          line-height: 1.2em;
          margin-bottom: .6em;

          a { font-family: $serif; }
        }

        .meta {
          font-family: $serif;
          text-align: center;

          a {
            color: inherit;
            font-family: $serif;
          }
        }

        .posted-on {
          display: block;
          line-height: 1.1em;
          margin-bottom: 1.4em;

          time{
            font-size: .8em;
          }
        }

        @include outer-container;
        border: none !important;

        @include media(min-width 320px max-width 989px) {
          padding-bottom: 2.5em;
        }
      }
      // .article-content

      .post-meta-info span {
        @include span-columns(8 of 8);
        margin-bottom: 0.5em;
      }

      .post-meta-info:before {
        content: '';
        display: block;
        width: 5em;
        border-top: 1px solid #ccc;
        padding-top: 1.5em;
        margin-top: 1.5em;
      }
    }
    // END article

    .gallery-row {
      margin: 0 auto;
    }
  }

  article:last-child {
    border-bottom: 0;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  .sticky {
    // sticky post styles
  }
}
// END #primary

aside {
  @include span-columns(4 of 12);
  @include omega;
  padding: 2em 1em 1em 1em;

  h3:after {
    content: '';
    display: block;
    width: 5em;
    border-bottom: 2px solid orange;
    padding-bottom: .7em;
  }

  .aside-section-posts {

    .aside-post {
      @include span-columns(12);
      padding: 0.5em;

      @include media(min-width 500px max-width 989px) {
        @include span-columns(4 of 12);
      }

      .aside-post-image {
        @include span-columns(4);
        min-width: 85px;
      }

      .aside-post-title {
        @include span-columns(8);
        padding-left: 0.5em;
        @include omega;
        font-style: italic;
      }

      .aside-post-date {
        @include span-columns(8);
        padding-left: 0.5em;
        font-size: .8em;
        line-height: 2em;
      }
    }
  }

  .aside-section-categories {
    .categories-list {
      @include span-columns(12);
      padding-left: 0;

      span {
        line-height: 2em;
        margin: 0;
        border-bottom: 1px solid #ccc;
      }
    }

    a {
      font-family: $serif;
      font-style: italic;
    }
    .category-name {
      @include span-columns(10);
    }

    .category-count {
      @include span-columns(2);
      text-align: right;
    }

  }

  @include media(max-width 989px) {
    @include span-columns(12);
    padding-top: 0;
  }

  .entry-meta,
  .entry-footer span {
    padding-bottom: 0.5em;
    line-height: 1.3;
  }

  .modified-on {
    display: block;
    padding-top: 0.5em;
    line-height: 1.3;
  }
}
// END ASIDE
