/*! scss/3-layouts/_landing.scss */

  header {

    section.callout {
      width: 100%;
      position: absolute;
      top: 40%;
 
      div {
        background: transparentize(white, 0.6);
        width: 60%;
        margin: 0 auto;
        @include padding(1em 1em 1em 1em);
        border-radius: $base-border-radius;
        border: 1px solid transparentize(black, 0.7);

        p {
          color: shade($dark-gray, 15%);
          text-shadow: 1px 1px tint($dark-gray, 55%);
        }

        .quote {
          font-size: $base-font-size * 1.2;

        }
        .author {
          text-align: right;
          margin-bottom: 0;
        }
        .author:before {
          content:"\2013  ";
        }
      } // section.callout > div
    }  // section.callout
  } // header
  //<< END: header

  // main content >>
  main.landing {
    background: $light-gray;
    margin-bottom: 200px;
    border-bottom: 1px solid shade(white, 70%);
    @include omega();

    article {
      border-bottom: 0;

      div.article-content:first-child{
        @include padding(1em null null null);
      }

      div.article-content {
        @include outer-container;

        section {
          @include span-columns(8 of 12);
          @include padding(null 2em null null);
          @include border-width(null 1px null null);
          @include border-color(null tint($medium-gray, 50%) null null);
          @include border-style(null solid null null);

          @include media(min-width 320px max-width 720px) {
            @include span-columns(12);
            padding-right: 0;
            border: none;
          }
        }

        aside {
          @include span-columns(4 of 12);
          @include omega;

          @include media(min-width 320px max-width 720px) {
            @include span-columns(12);
          }

          div:nth-child(3) {
            @include span-columns(6);
            @include shift(4);
            padding: 20px 0;
          }
        }

      }// div.article-content

    }// article

    article:last-child {
      @include padding(null null 1em null);
    }



    // welcome
    #welcome {
      // weather widget
      #weather {
        position: relative;
        //margin-bottom: 25px;

        section {
          border-right: none;
        }

        span {
          display: block;
          margin: 7px 0;
        }
        img {
          margin: 0 auto;
          opacity: 0.05;
          position: absolute;
          top: -50px;
        }
      }


    }

    // culinaria
    #culinary {
      .accordion-tabs {

        p {
          @include span-columns(12);
        }

        @include media(min-width 320px max-width 900px) {
          @include span-columns(12);
        }
      }

      .article-content {
        @include media(min-width 320px max-width 900px) {
          width: 100%;
        }
      }

      .tab-link {
        color: $blue;
      }
      .tab-link:hover {
        color: black;
      }
      .is-active {
        color: $base-font-color;
      }
      .tab-content {
        position: relative;

        img {
          position: absolute;
          left: 10%;
          bottom: 10%;
          width: 80%;
          height: auto;
          opacity: 0.1;
        }
      }
    }

  } // main
  //<< END: main

// test-fill
  .test-fill {
  background-color: transparentize(pink, 0.7);
}
